*{
    font-size: 20px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    display: grid;
    margin:0%;
    padding:0%;
    height: 100%;
    background-color: white;
}

.title{
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: #e63946;
    margin: 10px 0px;
    transition: color ease .5s;
    letter-spacing: 2px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    color: white;
    text-align: center;
    font-size: .7em;
}

.logo span{
    font-size: 1em;
}

.goTop{
    position: fixed;
    display: none;
    bottom: 0%;
    right: 0%;
    margin: 10px;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    background-color: #e63946;
    transition: all ease 0.3s;
    cursor: pointer;
}

.goTop:hover{
    transform:translateY(-20px);
}

.goTop img {
    display: flex;
    height: 50%;
    width: 50%;
    text-decoration: none;
    color: white;
    transform: rotate(-90deg);
    filter: invert(100%);
}

.goTop a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

