
.main {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    margin: 0;
    padding: 8rem 10rem;

    &__content {
        align-self: flex-start;
        max-width: 700px;
        gap: 24px;
    }
    
    h1,
    h2,
    p {
        margin: 0;
    }

    h2,p{
        color: white;
        font-weight: normal;
    }

    p{
        line-height: 40px;
    }

    img {
        align-self: flex-end;
        justify-self: flex-end;
        height: 400px;
    }
}

@media screen and (max-width:1440px){
    .main{
        padding: 8rem 2rem;
    }
}
@media screen and (max-width: 960px) {
    .main{
        flex-direction: column;

        img{
            align-self: center;
            height: 300px;
        }
    }
}

@media screen and (max-width: 450px) {
    .main {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 12px;
        overflow: hidden;
        height: 100%;
        padding: 8rem 1rem;
        &__img {
            width: 100%;
            margin-bottom: 80px;
        }

        h1{
            font-size: 3rem;
        }
        h2 {
            font-weight: normal;
        }

        &__description {
            font-weight: normal;
            color: white;
            font-size: 0.9rem;
            line-height: 40px;
            text-align: start;
        }
    }
}
