.header {
    font-family: inherit;
    position: fixed;
    z-index: 1;
    display: flex;
    width: 100%;
    background-color: $primary-color;
    align-items: center;
    padding: 0px 20px;
    justify-content: flex-end;
    color: white;
    height: 100px;
    border-bottom: 1px solid white;

    &__menu {
        margin: 0%;
        justify-items: center;
    }

    &__item {
        display: inline-block;
        margin: 0px 10px;
        padding: 0px;
        a::before {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: #f4f4f4;
            transition: ease 0.1s all;
            left: -100%;
            bottom: 0%;
        }

        a {
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 1.3rem;
            margin: 0px 20px;
            padding: 10px;
            overflow: hidden;
            transition: all ease 0.5s;
        }

        a:hover::before {
            transform: translate(100%);
        }
    }
}

@media all and (max-width:768px){

    .header{
        position: relative;
        padding: 0%;
        justify-content: center;

        &__menu{
            display: flex;
            justify-content: space-around;
            padding: 0%;
            width: 100%;
        }

        &__item{
            margin: 0%;

            a{
                margin: 0%;
            }
        }
    }
}