.curse{
    position: relative;
    overflow: hidden;
    
}
.curse-header{
    display: flex;
    margin: 50px;
    grid-column:1/4;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.curse-header img{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin: 0px 10px;
}

.link{
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease .2s all;
    color:#333333
}

.link:hover{
    background-color: #e63946;
    color: #f4f4f4;
}

.curse::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 5px;
    background-color: #457b9d;
    top: -100%;
    transition: ease .2s;
}

.curse::after{
    position: absolute;
    content: "";
    height: 100%;
    width:5px;
    background-color: #457b9d;
    bottom: -100%;
    right: 0%;
    transition: ease .2s;
}

.curse:hover::before{
    transform: translateY(100%);
}

.curse:hover::after{
    transform: translateY(-100%);
}

.curse li {
    margin: 10px 0px;
}

.curse ul{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}


.line-1{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    color: black;
    overflow: hidden;
}

.line-1 li{
    position: relative;
}

.line-1 li::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    bottom: 0%;
    opacity: 0;
    left: 20%;
    background-color: #e63946;
    transition: ease 0.2s;
}
.line-1 li::before{
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    top: 0%;
    opacity: 0;
    left: 20%;
    background-color: #e63946;
    transition: ease 0.2s;
}

.line-1 li:hover:after{
    opacity: 1;
}

.line-1 li:hover::before{
    opacity: 1;
}

.line-1 span{
    padding: 20px 20px;
    color: black;
}

.line-2{
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.line-2 li{
    position: relative;
}

.line-2 li::before{
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    background-color: #e63946;
    top: 0%;
    left: 20%;
    opacity: 0;
    transition: ease .2s;
}

.line-2 li::after{
    position: absolute;
    content: "";
    width: 60%;
    height: 3px;
    left: 20%;
    bottom: 0%;
    opacity: 0;
    background-color: #e63946;
    transition: ease .2s;
}

.line-2 li:hover::before{
    opacity: 1;
}

.line-2 li:hover::after{
    opacity: 1;
}



