.experience {
    display: flex;
    letter-spacing: 2px;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 0px 160px;
    transition: transform ease 0.2s;
    transition: color ease 0.5s;
    width: 100%;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        left: -110%;
        height: 5px;
        opacity: 0;
        background-color: #457b9d;
        transition: ease 0.5s;
        top: 0%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        right: -110%;
        height: 5px;
        opacity: 0;
        background-color: #457b9d;
        transition: ease 0.5s;
        bottom: 0%;
    }

    &:hover::before {
        opacity: 1;
        transform: translateX(110%);
    }

    &:hover::after {
        opacity: 1;
        transform: translateX(-110%);
    }

    &__item {
        padding: 32px 0px;
        transition: .2s ease all;

        &:hover .experience__career, &:hover .experience__resume {
            color: $secondary-color;
        }

    }

    &__info {
        text-align: center;

        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            gap: 8px;
            color: black;
        }
    }

    &__career {
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
    }

    &__resume{
        text-align: center;
        line-height: 32px;
    }
}

@media all and (max-width:768px){

    .experience{
        width: 100vw;
        padding: 0px 32px;

        &__career{
            text-align: start;
        }

        &__resume{
            text-align: start;
        }
    }
}
