.experience {
    display: flex;
    letter-spacing: 2px;
    position: relative;
    flex-direction: column;
    transition: transform ease 0.2s;
    transition: background-color ease 0.5s;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        left: -110%;
        height: 5px;
        opacity: 0;
        background-color: #457b9d;
        transition: ease 0.5s;
        top: 0%;
    }

    &::after {
        position: absolute;
        content: "";
        width: 100%;
        right: -110%;
        height: 5px;
        opacity: 0;
        background-color: #457b9d;
        transition: ease 0.5s;
        bottom: 0%;
    }

    &:hover::before {
        opacity: 1;
        transform: translateX(110%);
    }

    &:hover::after {
        opacity: 1;
        transform: translateX(-110%);
    }

    &__item {
        padding: 16px 0px;
        transition: ease 0.2s;

        &:hover {
            background-color: #e63946;
        }

        &:hover .experience__career {
            color: white;
        }

    }

    &__info {
        text-align: center;

        a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            gap: 8px;
            color: black;
        }
    }

    &__career {
        font-size: 1.5rem;
    }
}
