.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1d3557;
  margin: 0;
  padding: 8rem 10rem;
}

.main__content {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 700px;
  gap: 24px;
}

.main h1,
.main h2,
.main p {
  margin: 0;
}

.main h2, .main p {
  color: white;
  font-weight: normal;
}

.main p {
  line-height: 40px;
}

.main img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-end;
  height: 400px;
}

@media screen and (max-width: 1440px) {
  .main {
    padding: 8rem 2rem;
  }
}

@media screen and (max-width: 960px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
    overflow: hidden;
    height: 100%;
    padding: 8rem 1rem;
  }
  .main__img {
    width: 100%;
    margin-bottom: 80px;
  }
  .main h1 {
    font-size: 3rem;
  }
  .main h2 {
    font-weight: normal;
  }
  .main__description {
    font-weight: normal;
    color: white;
    font-size: 0.9rem;
    line-height: 40px;
    text-align: start;
  }
}

.experience {
  margin-bottom: 40px;
}

.experience h2 {
  width: 400px;
  margin: 40px auto;
  position: relative;
}

.experience h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20%;
  bottom: -8px;
  left: 10rem;
  background-color: #e63946;
}

.card {
  border: none;
  border-radius: 8px;
  gap: 20px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  padding: 4rem;
}

.card__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1rem;
  gap: 8px;
}

.card__experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  width: 100%;
}

.card__experience--left .card__title {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: start;
}

.card__divider {
  opacity: 1;
  border-top: 3px solid #e63946;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  text-align: end;
}

.card__title--1, .card__title--2 {
  font-weight: bold;
  color: #1d3557;
}

.card__title--2 {
  color: #e63946;
}

.card__description {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  width: 50%;
  text-align: start;
}

.divider {
  position: absolute;
  height: 100%;
  width: 3px;
  right: 50%;
  background-color: #e63946;
}

@media screen and (max-width: 960px) {
  .card {
    padding: 1rem;
  }
  .card__experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 12px;
  }
  .card__experience--right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card__title {
    position: relative;
    text-align: left;
    width: 100%;
  }
  .card__description {
    width: 100%;
  }
  .divider {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .experience h2 {
    width: 300px;
    position: relative;
  }
  .experience h2::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 40%;
    bottom: -8px;
    left: 5.5rem;
    background-color: #e63946;
  }
}

.knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d3557;
  padding-bottom: 40px;
}

.knowledge__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.knowledge__container--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  height: 650px;
}

.knowledge__container--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.knowledge img {
  width: 100%;
  height: 400px;
}

.knowledge h2 {
  position: relative;
  padding-top: 20px;
  margin: 20px 0;
  text-align: start;
}

.knowledge h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 40%;
  bottom: -8px;
  left: 0;
  background-color: white;
}

.knowledge p {
  color: white;
  line-height: 40px;
}

.knowledge__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.stats span {
  text-align: start;
  color: white;
  width: 100%;
}

.stats__container {
  background-color: white;
  width: 500px;
  height: 4px;
  border-radius: 8px;
}

.stats__filled, .stats__filled--25, .stats__filled--50, .stats__filled--75 {
  position: relative;
  background-color: #e63946;
  height: 100%;
  border-radius: 8px;
}

.stats__filled--25 {
  width: 25%;
}

.stats__filled--50 {
  width: 50%;
}

.stats__filled--75 {
  width: 75%;
}

.stats__filled::after, .stats__filled--25::after, .stats__filled--50::after, .stats__filled--75::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 24px;
  border: 1px solid #e63946;
  border-radius: 8px;
  background-color: white;
  right: 0%;
  bottom: -10px;
}

@media screen and (max-width: 1024px) {
  .knowledge__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .knowledge__container p {
    text-align: start;
  }
  .knowledge__container--left {
    width: 100%;
  }
  .knowledge__container--right {
    width: 100%;
  }
  .knowledge__stats {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 620px) {
  .stats__container {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  border-radius: 8px;
}

.swiper-slide {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 8px;
  height: 700px;
}

.swiper-image {
  display: block;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.swiper-title {
  padding: 1rem;
  background-color: #333;
  text-align: center;
  color: white;
}

.swiper-pagination {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.swiper-pagination span {
  background-color: #e63946;
}

.project {
  margin-bottom: 80px;
}

.project h2 {
  text-align: start;
  width: 300px;
  margin-bottom: 4rem;
  position: relative;
}

.project h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 25%;
  bottom: -8px;
  left: 0;
  background-color: #e63946;
}

.project__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.project__description {
  padding: 1rem;
}

.project__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 24px;
}

.project__buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 12px 12px;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
  vertical-align: middle;
}

.project__buttons a img {
  height: 24px;
}

.project__buttons a:hover {
  background-color: #e63946;
  border: 1px solid #e63946;
  color: white;
}

@media screen and (max-width: 425px) {
  .swiper-slide {
    height: 100%;
  }
  .swiper-pagination {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::-moz-selection {
  background-color: #e63946;
  color: white;
}

*::selection {
  background-color: #e63946;
  color: white;
}

h1 {
  font-size: 4em;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: auto;
}

body {
  background-color: #f3f3f3;
}

.icon--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  gap: 24px;
}

.icon--technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  opacity: 0.5;
  width: 250px;
  margin-top: 40px;
}

.icon--technology img {
  height: 32px;
  width: 32px;
}

.technology__line--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.technology__line--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title__1, .title__2 {
  font-size: 1.5rem;
  color: #e63946;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px;
  position: relative;
}

.title__1::after, .title__2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20%;
  bottom: -8px;
  left: 7.5rem;
  background-color: #e63946;
}

.title__1--primary {
  color: #e63946;
}

.title__1--neutral {
  color: white;
}

.title__2 {
  font-size: 1.5rem;
}

.title__2--primary {
  color: #e63946;
}

.title__2--neutral {
  color: white;
}

.title--subline {
  position: relative;
}

.title--subline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20%;
  bottom: -8px;
  left: 7.5rem;
  background-color: #e63946;
}

.section__container {
  padding: 4rem 10rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  background-color: #1d3557;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 10rem;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin: 0;
}

header nav ul li {
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: white;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
}

header nav a:hover {
  color: #e63946;
}

header .dropdown-menu {
  background-color: white;
  color: #1d3557;
}

header .dropdown-item:hover {
  background-color: #e63946;
  color: white;
}

header .navmenu {
  display: none;
}

header .navmenu__container {
  display: none;
}

header .contact {
  font-family: "Montserrat", sans-serif;
  border: 2px solid #e63946;
  padding: 12px;
  border-radius: 8px;
  background-color: #e63946;
  color: white;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
  text-decoration: none;
}

header .contact:hover {
  border: 2px solid white;
  background-color: #1d3557;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #1d3557;
  text-align: center;
  color: white;
  gap: 20px;
  padding: 40px 0px;
}

footer .title__2 {
  width: 300px;
  text-align: center;
  position: relative;
}

footer .title__2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  bottom: -8px;
  left: 25%;
  background-color: white;
}

footer a {
  color: white;
  text-decoration: none;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
}

footer a:hover {
  color: #e63946;
}

@media screen and (max-width: 1440px) {
  .section__container {
    padding: 2rem;
  }
  header {
    padding: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .section__container {
    padding: 2rem;
  }
  header nav {
    display: none;
  }
  header .icon--social {
    display: none;
  }
  header .navmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: inherit;
    border: none;
    position: relative;
  }
  header .navmenu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding: 32px 1rem;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    background-color: white;
  }
  header .navmenu__container a {
    color: #1d3557;
    text-decoration: none;
  }
  header .navmenu__container--open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .navmenu__close {
    cursor: pointer;
    height: 32px;
  }
}

@media screen and (max-width: 620px) {
  .section__container {
    padding: 1rem 1rem;
  }
  .icon--technology {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .section__container {
    padding: 0px 8px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    height: 80px;
    background-color: #1d3557;
  }
  p {
    color: #1d3557;
    line-height: 30px;
    font-size: 0.9rem;
    text-align: center;
  }
  .icon--social {
    gap: 24px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
    padding: 40px 0px;
    background-color: #1d3557;
    color: white;
  }
  footer a {
    text-align: center;
    color: white;
    text-decoration: none;
  }
  footer a:visited {
    color: white;
  }
  footer span {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=index.css.map */