.curse {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        height: 100%;
        width: 5px;
        background-color: #457b9d;
        top: -100%;
        transition: ease 0.2s;
    }

    &::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 5px;
        background-color: #457b9d;
        bottom: -100%;
        right: 0%;
        transition: ease 0.2s;
    }

    &:hover::before {
        transform: translateY(100%);
    }

    &:hover::after {
        transform: translateY(-100%);
    }

    li {
        margin: 10px 0px;
    }

    ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style-type: none;
    }
    &__line {
        display: flex;
        position: relative;
        flex-direction: column;
        text-align: center;
        color: black;
        overflow: hidden;
    }
    &__item {
        position: relative;

        &:hover::after {
            opacity: 1;
        }

        &:hover::before {
            opacity: 1;
        }

        &::after {
            position: absolute;
            content: "";
            width: 60%;
            height: 3px;
            bottom: 0%;
            opacity: 0;
            left: 20%;
            background-color: #e63946;
            transition: ease 0.2s;
        }

        &::before {
            position: absolute;
            content: "";
            width: 60%;
            height: 3px;
            top: 0%;
            opacity: 0;
            left: 20%;
            background-color: #e63946;
            transition: ease 0.2s;
        }

        span {
            padding: 20px 20px;
            color: black;
        }
    }
    &__header {
        display: flex;
        margin: 50px;
        grid-column: 1/4;
        padding: 10px;
        justify-content: center;
        align-items: center;

        img {
            height: 35px;
            width: 35px;
            border-radius: 20px;
            margin: 0px 10px;
        }
    }
    &__line--1 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    &__line--2 {
        grid-column-start: 2;
        grid-column-end: 3;
    }
}

.link {
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.2s all;
    color: #333333;

    &:hover {
        background-color: #e63946;
        color: #f4f4f4;
    }
}
