.project {
    position: relative;
    background-color: $primary-color;
    padding: 0% 10% 10% 10%;

    &__description {
        color: #f4f4f4;
        background-color: $secondary-color;
        height: 100px;

        p {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 8px;
            height: 100%;
            width: 100%;
        }
    }
}

.carrousel {
    position: relative;
    width: 100%;

    &__title {
        margin: 32px 0px;
        color: #f4f4f4;
        text-align: center;
    }

    &__link {
        color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        background-color: $secondary-color;
    }

    &__div {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__image {
        max-height: 100%;
        max-width: 100%;
    }

    &__button {
        position: absolute;
        color: black;
        font-size: 2em;
        background-color: white;
        width: 50px;
        height: 100%;
        padding: 0px;
        transition: all ease 0.2s;
        border: none;
        cursor: pointer;
    }
}

.button {
    &--back {
        position: absolute;
        left: 0%;
    }

    &--next {
        position: absolute;
        right: 0%;
    }
}

@media all and (max-width: 768px) {
    .project {
        padding: 0px;

        &__description {
            background-color: white;
            color: $secondary-color;
        }
    }

    .carrousel {
        &__link {
            position: relative;
        }
        &__image {
            display: none;
        }
        &__button {
            transform: translateY(-49%);
            position: absolute;
            height: 48px;
            display: block;
        }
    }
}
